<div class="sector-editor">
    <h3 class="seat-panel__title">Sector</h3>

    <div class="sector-list">
        <button type="button" class="sector-item" [class.sector-item--selected]="pendingSectorId === null"
            [disabled]="disabled" (click)="selectSector(null)">
            <span class="sector-item__icon sector-item__icon--empty"></span>

            <span class="sector-item__content">
                <span class="sector-item__name">No sector</span>
                <span class="sector-item__price">No assigned base price</span>
            </span>
        </button>

        <ng-container *ngFor="let sector of sectors; trackBy: trackBySectorId">
            <ng-container *ngIf="!isEditing(sector); else editSectorBlock">
                <div class="sector-item-wrapper">
                    <button type="button" class="sector-item"
                        [class.sector-item--selected]="pendingSectorId === sector.id" [disabled]="disabled"
                        (click)="selectSector(sector.id)">
                        <span class="sector-item__icon" [style.backgroundColor]="sector.color">
                        </span>

                        <span class="sector-item__content">
                            <span class="sector-item__name">{{ sector.name }}</span>
                            <span class="sector-item__price">{{ sector.basePrice | number:'1.0-0' }} Ft</span>
                        </span>
                    </button>

                    <button type="button" class="sector-item-edit-button" [disabled]="disabled || isCreateFormOpen"
                        (click)="openEditForm(sector.id)">
                        Edit
                    </button>
                    <button type="button" class="sector-item-delete-button"
                        [disabled]="disabled || isCreateFormOpen || !!editingSectorId || isDeletingSector || isUpdatingSector || isCreatingSector"
                        (click)="requestDelete(sector.id)">
                        Delete
                    </button>
                </div>
            </ng-container>

            <ng-template #editSectorBlock>
                <div class="sector-item sector-item--form">
                    <app-sector-form [initialValue]="editingSectorInitialValue" [submitLabel]="'Save'"
                        [isSubmitting]="isUpdatingSector" (submitted)="submitEdit($event)" (cancelled)="cancelEdit()">
                    </app-sector-form>
                </div>
            </ng-template>
        </ng-container>

        <ng-container *ngIf="!isCreateFormOpen; else createFormBlock">
            <button type="button" class="sector-item sector-item--add" [disabled]="disabled || !!editingSectorId"
                (click)="openCreateForm()">
                <span class="sector-item__plus">+</span>
            </button>
        </ng-container>

        <ng-template #createFormBlock>
            <div class="sector-item sector-item--form">
                <app-sector-form [submitLabel]="'Create'" [isSubmitting]="isCreatingSector"
                    (submitted)="submitCreate($event)" (cancelled)="cancelCreate()">
                </app-sector-form>
            </div>
        </ng-template>
    </div>

    <button type="button" class="sector-apply-button" [disabled]="disabled" (click)="applyToSelected()">
        Apply to selected
    </button>
</div>