@use 'variables' as *
@import 'bootstrap-icons/font/bootstrap-icons.css'


body
  background-color: $color-light-100
  color: $color-dark-900
  font-family: 'Inter', system-ui, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale